@{
    ViewData["Title"] = "Home Page";
}

<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Bienvenidos a la Música</h1>
        </div>
    </div>
</div>