@model WebMVCMusica.Models.Ciudades

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Ciudades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisesID" class="control-label"></label>
                <select asp-for="PaisesID" class ="form-control" asp-items="ViewBag.PaisesID"></select>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Añadir" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><img src="~/img/volver.png" height="30px" width="30px" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
