@model IEnumerable<WebMVCMusica.ViewModels.GirasSinConciertoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Info</h1>

<table class="table" id="myTable">
    <thead>
    <tr class="table-info">
        <th>
            Gira
        </th>
        <th>
            Conciertos
        </th>
        <th></th>
    </tr>
    <tr class ="table-info">
        <th></th>
        <th>
            Ciudades
        </th>
        <th>
            Fecha
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGira)
                </td>
                <td>
                    @foreach (var hijo in item.conciertos)
                    {
                       
                        @Html.DisplayFor(modelItem => hijo.Ciudad)
                        <br />
                    }
                </td>
                <td>
                @foreach (var hijo in item.conciertos)
                {
                        
                    @Html.DisplayFor(modelItem => hijo.Fecha)
                    <br />
                }
                </td>
            </tr>
        }
    </tbody>
</table>
