@model WebMVCMusica.Models.Paises

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Paises</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><img src="~/img/editar.png" height="30px" width="30px" /></a> |
    <a asp-action="Index"><img src="~/img/volver.png" height="30px" width="30px" /></a>
</div>
