@model WebMVCMusica.Models.Grupos

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Grupos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="grupo" /> @Html.DisplayNameFor(model => model.grupo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CiudadesId" class="control-label"></label>
                <select asp-for="CiudadesId" class ="form-control" asp-items="ViewBag.CiudadesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RepresentantesId" class="control-label"></label>
                <select asp-for="RepresentantesId" class ="form-control" asp-items="ViewBag.RepresentantesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenerosId" class="control-label"></label>
                <select asp-for="GenerosId" class ="form-control" asp-items="ViewBag.GenerosId"></select>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Añadir" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><img src="~/img/volver.png" height="30px" width="30px" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
